.navbar {
    color: #1b1212;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: flex;
    color: rgb(173, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}